[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# To execute deploy task
ansible = "*"
# To call Ansible by Python
ansible-runner = "*"

[dev-packages]
autoflake = "*"
bandit = "*"
black = "*"
cohesion = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
dlint = "*"
docformatter = "*"
dodgy = "*"
flake8 = "*"
# To use flake8 --radon-show-closures
flake8-polyfill = "*"
# Latest hacking depends on legacy version of flake8, and legacy hacking doesn't narrow flake8 version.
# When unpin hacking, it has possibility to install too legacy version of hacking.
hacking = ">=5.0.0"
invoke = "*"
isort = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
radon = "*"
testinfra = "*"
xenon = "*"

[scripts]
flake8 = "flake8 --max-line-length=120 --statistics --show-source --radon-show-closures ."
cc = "radon cc --show-complexity --min B ."
mi = "radon mi --show ."
